# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/